.Rectangle-5 {
  width: 360px;
  height: 160px;
  margin: 26px 113px 0 30px;
  padding: 0 34px 0 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.shutterstock_1154073754 {
  width: 160px;
  height: 160px;
  margin: 0 29px 0 0;
  object-fit: contain;
}
